{% extends 'layout.html' %}
{% block content %}
<!-- This line is here bc for some reason the q mode active variable wasn't being passed. If it's here, it works. -->
<p style="display: none;">{{ queue_mode_active }}<p>
    
<div class="container-fluid no-margin">
    {% from "/Components/macros.html" import topnav %}
        {{ topnav(issue_key, fields, queue_mode_active) }}

    
    <div class="card" style="border-width:0;">
        {% from "/Components/macros.html" import summary %}
        {{ summary(fields) }}
        <br>
    </div>
    

    <!-- SPECIAL FOR PROOFING PAGE -->
        <div>
            <div class="card ">
                <div class="card-body bg-light">
                    {% for attachment in last_comment.attachments %}
                    <img src="{{ attachment }}" width="100%">
                    {% endfor %}
                    <br>
                    <p class="card-subtitle mb-2 text-muted">{{ last_comment.date }}</p>
                </div>
            
        </div>

        <div class="btn-group-vertical" role="group">
            {% for key, value in transitions.items() %}
                <a href="/transition/{{ value }}"><button type ="button" class="w-100 btn btn-outline-secondary" style="margin:10px;">{{ value }}</button></a>
            {% endfor %}
        </div>
        
        <!-- END SPECIAL FOR PROOFING PAGE -->


        

     

     <!-- Comments -->

     {% from "/Components/macros.html" import comment_component %}
    {{ comment_component(comments) }}
</div>
{% endblock %}