
{% extends 'layout.html' %}
{% block content %}
<!-- This line is here bc for some reason the q mode active variable wasn't being passed. If it's here, it works. -->
<p style="display: none;">{{ queue_mode_active }}<p>

{% from "/Components/macros.html" import topnav %}
{{ topnav(issue_key, fields, queue_mode_active) }}

{% from "/Components/macros.html" import summary %}
{{ summary(fields) }}
<br>
<div id="fields-javascript"></div>
{% from "/Components/macros.html" import fieldlist %}
{{ fieldlist(fields) }}

{% from "/Components/macros.html" import workflow %}
{{ workflow(transitions) }}

<!-- Comments -->
{% from "/Components/macros.html" import comment_component %}
{{ comment_component(comments) }}


{% endblock %}