
{% extends 'layout.html' %}
{% block content %}

{% from "/Components/macros.html" import topnav %}
{{ topnav(issue_key, fields) }}


{% from "/Components/macros.html" import summary %}
{{ summary(fields) }}
<br>
        

{% from "/Components/macros.html" import fieldlist %}
{{ fieldlist(fields) }}

{% from "/Components/macros.html" import workflow %}
{{ workflow(transitions) }}

<!-- Comments -->
{% from "/Components/macros.html" import comment_component %}
{{ comment_component(comments) }}


{% endblock %}