
{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <br>
        <span id="key" class="badge bg-primary">{{issue_key}}</span>
        <span class="badge bg-primary">{{fields['Issue Type'].name}}</span>

        <!-- Page won't display if value doesn't exist -->
        {% if fields['Social Media Account'] %}
            <span class="badge bg-primary">{{fields['Social Media Account'].value}}</span>
        {% endif %}
        <span class="badge bg-primary">{{fields.Status.name}}</span>

    <br>
    <br>
    <div class="card" style="border-width:0;">
        {% from "/Components/macros.html" import summary %}
        {{ summary(fields) }}
        <br>

    <!-- SPECIAL FOR PROOFING PAGE -->
        <div>
            <div class="card ">
                <div class="card-body bg-light">
                    {% for attachment in last_comment.attachments %}
                    <img src="{{ attachment }}" width="100%">
                    <br>
                    {% endfor %}
                    <p class="card-subtitle mb-2 text-muted">{{ last_comment.date }}</p>
                </div>
            
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-success" onclick="location.href='/transition/121'">Approve</button></a>
            <button class="btn btn-danger" onclick="location.href='/transition/301'">Changes</button>
        </div>
        <!-- END SPECIAL FOR PROOFING PAGE -->

     <!-- Comments -->
<br>
<br>
     {% from "/Components/macros.html" import comment_component %}
    {{ comment_component(comments) }}



<script>

    // This is for the copy button at the top of the page
        
        document.getElementById('copyButton').addEventListener('click', function() {
            // Static text to copy
            const key = document.getElementById('key').innerHTML;
    
            // Create a temporary textarea element to hold the text
            var textarea = document.createElement('textarea');
            textarea.value = key;
            document.body.appendChild(textarea);
    
            // Select the text in the textarea
            textarea.select();
            textarea.setSelectionRange(0, 99999); // For mobile devices
    
            // Copy the selected text to the clipboard
            document.execCommand('copy');
    
            // Remove the temporary textarea
            document.body.removeChild(textarea);
    
             // Change the button icon to a checkmark
            var buttonIcon = document.getElementById('copyButton').querySelector('i');
            buttonIcon.classList.remove('fa-copy');
            buttonIcon.classList.add('fa-check');
    
            // Disable the button to prevent multiple clicks
            document.getElementById('copyButton').disabled = true;
        });
    </script>

{% endblock %}