
{% extends 'layout.html' %}
{% block content %}
<!-- This line is here bc for some reason the q mode active variable wasn't being passed. If it's here, it works. -->
<p style="display: none;">{{ queue_mode_active }}<p>


<div class="container-fluid no-margin">
    {% from "/Components/macros.html" import topnav %}
        {{ topnav(issue_key, fields, queue_mode_active) }}
     
    <div class="card" style="border-width:0;">
        {% from "/Components/macros.html" import summary %}
        {{ summary(fields) }}
        <br>

    <!-- SPECIAL FOR PROOFING PAGE -->
        <div>
            <div class="card shadow" style="border: none;">
                <div class="card-body bg-light">
                    {% for attachment in last_comment.attachments %}
                    <img src="{{ attachment }}" width="100%">
                    <br>
                    {% endfor %}
                    <p class="card-subtitle mb-2 text-muted">{{ last_comment.date }}</p>
                </div>
            
        </div>
        <div class="d-flex gap-2 justify-content-center">
            <button class="btn btn-success big-square-btn green" onclick="location.href='/transition/121'">
                <i class="fa-solid fa-check"></i>
            </button>
            <button class="btn btn-danger big-square-btn red" onclick="location.href='/transition/301'">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <!-- END SPECIAL FOR PROOFING PAGE -->

     <!-- Comments -->
<br>
<br>
     {% from "/Components/macros.html" import comment_component %}
    {{ comment_component(comments) }}



<script>

    // This is for the copy button at the top of the page
        
        document.getElementById('copyButton').addEventListener('click', function() {
            // Static text to copy
            const key = document.getElementById('key').innerHTML;
    
            // Create a temporary textarea element to hold the text
            var textarea = document.createElement('textarea');
            textarea.value = key;
            document.body.appendChild(textarea);
    
            // Select the text in the textarea
            textarea.select();
            textarea.setSelectionRange(0, 99999); // For mobile devices
    
            // Copy the selected text to the clipboard
            document.execCommand('copy');
    
            // Remove the temporary textarea
            document.body.removeChild(textarea);
    
             // Change the button icon to a checkmark
            var buttonIcon = document.getElementById('copyButton').querySelector('i');
            buttonIcon.classList.remove('fa-copy');
            buttonIcon.classList.add('fa-check');
    
            // Disable the button to prevent multiple clicks
            document.getElementById('copyButton').disabled = true;
        });
    </script>

<style>
    .big-square-btn {
        width: 100px;
        height: 100px;
        margin: 10px;
        margin-top: 30px;
        font-size: 40px;
        border-radius: 50%;
    }

    .big-square-btn.green {
        background: rgb(100,154,50);
        background: linear-gradient(180deg, rgba(100,154,50,1) 0%, rgba(25,135,84,1) 100%);
        box-shadow: 10px 10px 30px -3px rgba(0, 168, 67, 0.4)
}

    .big-square-btn.red {
        background: rgb(177,39,88);
        background: linear-gradient(90deg, rgba(177,39,88,1) 0%, rgba(220,53,69,1) 100%);
        box-shadow: 10px 10px 30px -3px rgba(255, 0, 47, 0.4)
}
</style>

{% endblock %}