{% extends 'layout.html' %}
{% block content %}

<div class="page-bg">
<div class='no-margin'>
    <div class="container-fluid d-inline-block " style=" margin-left: 0;">
        <h6 class="text-light d-inline-block">Dashboard</h6>
        <h6 onclick="location.href='/settings';" class="text-light d-inline-block float-end">{{ username }}</h6>
    </div>
<br>
<br>
    <div class="container-fluid">
        <form class="form-group">
            <div class="input-group shadow" style="border-radius: 30px;">
                <input class='form-control'
                type="text"
                placeholder="Search"
                aria-describedby="button-addon2" style="height:50px; border-top-left-radius: 30px; border-bottom-left-radius: 30px; border-width:0px; border-right-width:0;" id="searchInput">
                <button class="btn text-muted" type="button" id="button-addon2" style="background-color: white; padding-right: 20px; font-size: 20px; border-width: 0px; border-left-width:0; border-right-width:0; border-bottom-right-radius: 30px;border-top-right-radius: 30px; border-color: #ced4da;" onclick="searchRedirect()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
    </div>

</div>


<div class="container-fluid no-margin" id="mainContent">

<div id="contextual-menu">
    <div class="buttonGrouping">
        <button class="menu-button" id="advanced" onclick="location.href='/search'"><i class="fa-solid fa-code"></i></i></button>
        <label for="advanced" class="buttonDescription text-light">JQL</label>
    </div>    
    <div class="buttonGrouping">
        <button class="menu-button" id="select" onclick="selectTickets()" style = "background-color: #0b5ed7;"><i class="fa-solid fa-object-ungroup"></i></button>
        <label for="select" class="buttonDescription text-light">Select</label>
    </div>
    <div class="buttonGrouping">
        <button class="menu-button-disabled" id="assign" form="selected-tickets" type="submit" formaction="/assign" style="background-color: #ffc107;"><i class="fa-solid fa-user"></i></button>
        <label for="assign" class="buttonDescription text-light">Assign</label>
    </div>
    <div class="buttonGrouping">
        <button class="menu-button-disabled" type="submit" form="selected-tickets" id="queue" style="background-color: #6f42c1;"><i class="fa-solid fa-layer-group"></i></button>
        <label for="queue" class="buttonDescription text-light">Queue</label>
    </div>
    
</div>

    <div class="decks">
        <form id="selected-tickets" action="/queue" method="POST">
            {% for deck in decks %}
                    {% from "/Components/macros.html" import sidescroller %}
                    {{ sidescroller(deck['name'], deck['jql'], deck['tickets'], deck['color'], deck['icon']) }}
            {% endfor %}
        </form>
        <br>
    </div>

<!-- New Deck -->
<div class="page-bg">
    <div class="card" style="background-color: white; border-radius: 20px; border-top-right-radius: 0; border-top-left-radius: 0; margin: right 60px left 60px; padding-top: 20px; border:0;">
        
        <form id="new-deck-form" class="form-group" action="/newdeck" method="POST" style="margin-top: 10px; padding-bottom: 60px;">
            <h2 class="text-muted" style="margin-left: 20px;">Add Deck</h2>
            <div style="padding: 20px">
                <span id="error" class="error"></span><br>
                
                    <div class="form-group d-flex">
                        <input name="deck-name" class="form-control new-deck" placeholder="Deck Name">
                    </div>
            
                        <div class="form-group d-flex">
                            <input name="assignee" class="form-control new-deck me-1" type="text" placeholder="Assignee">
                            <input name="status" class="form-control new-deck me-1" type="text" placeholder="Status">
                        </div>
                        <div class="form-group d-flex">
                            <input id="type" name="type" class="form-control new-deck me-1" type="text" placeholder="Ticket Type">
                        </div>
                        <div class="form-group d-flex">
                            <input id="deck-jql" name="custom-jql" class="form-control new-deck me-1" type="text" placeholder="Additional JQL (Optional)">
                        </div>
                        <div style="display: flex; justify-content: center;"> 
                            <p class="text-muted" style="margin: 20px;">Sort By:</p>
                            <div class="form-group d-flex">
                                <select name="sort" class="form-select" aria-label="Default select example" style="width: 150px;">
                                    <option value='created DESC' selected>Latest</option>
                                    <option value="created ASC">Oldest</option>
                                    <option value="status ASC">Status</option>
                                    <option value="assignee ASC">Assignee</option>
                                    <option value="issuetype ASC">Type</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        
                    
                
                
                
                <div class="container" style="margin-top: 30px; text-align: center;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input bg-danger" type="radio" name="deck-color" value="red">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input bg-primary" type="radio" name="deck-color" value="blue">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input bg-warning" type="radio" name="deck-color" value="yellow">
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input bg-success" type="radio" name="deck-color" value="green">
                    </div>
                </div>
                




                <div class="container" style="margin-top: 30px;">
                    {% for icon in icons %}
                        <input type="radio" name="deck-icon" value="{{icon}}" id="{{icon}}" class="icon-checkbox">
                        <label for="{{icon}}" class="icon-label"><i class="icon-picker fa-solid {{icon}}"></i></label>
                    {% endfor %}
                </div>   
            </div>
            <div style=" width: 100%; text-align: center; margin-top: 30px;">
                <button type="submit" class="menu-button bg-primary" id="add-deck" style="background-color:gray ;"><i class="fa-solid fa-plus"></i></i></button>
            </div>
        </form>
    </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function openForm() {
        document.getElementById('form-wrapper').style.height= ''
    }

    // Function to hide the main content when search bar is clicked
    document.getElementById('searchInput').addEventListener('focus', function() {
        document.getElementById('mainContent').style.opacity = '0'; // Change opacity to hide
    });

    // Function to show the main content when search bar loses focus
    document.getElementById('searchInput').addEventListener('blur', function() {
        document.getElementById('mainContent').style.opacity = '1'; // Change opacity to show
    });

    // Function to handle search redirection
    function searchRedirect() {
        var searchValue = document.getElementById('searchInput').value;
        if (searchValue.trim() !== "") {
            window.location.href = "/search/" + encodeURIComponent(searchValue);
        }
    }



// Add deck

    function validateJQL(jql) {
    // Trim leading and trailing whitespace
    jql = jql.trim();

    // Regular expression to match basic JQL syntax
    var jqlRegex = /^(?:project|issueType|status|assignee|reporter|priority|resolution|created|updated|resolved|due|watcher|text|comment|votes|watching|component|affectedVersion|fixVersion|label|linkedIssue|subtask|Epic Link)?\s*([=!<>]=?|in|not in|was|was not|is|is not|changed)?\s*("[^"]+"|[^ ]+)?$/g;

    if (!jqlRegex.test(jql)) {
        throw new Error('Invalid JQL syntax.');
    }

    return true;
}

document.getElementById('new-deck-form').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent form submission

    var deckName = document.querySelector('.new-deck[name="deck-name"]').value.trim();
    var jql = document.getElementById('deck-jql').value.trim();
    var errorSpan = document.getElementById('error');

    try {
        // Validate deck name (optional)
        if (deckName === '') {
            throw new Error('Deck name cannot be empty');
        }

        validateJQL(jql);
        // If validation successful
        errorSpan.textContent = ''; // Clear any previous error messages
        document.getElementById("new-deck-form").submit();
    } catch (err) {
        errorSpan.textContent = err.message;
    }
});

// So this script below is kinda complicated... was facing some
// difficulty with using template data from flask.
// The function for opening or checking a ticket needs
// the ticket id as an argument
let allowSelect = false

window.onload= disable();

function disable() {
    const disabled_buttons = document.getElementsByClassName('menu-button-disabled');
    const buttonsArray = Array.from(disabled_buttons);
    buttonsArray.forEach(element => {
        element.addEventListener("click", preventDefaultAction);
    });  
}

function enable() {
    const enabled_buttons = document.getElementsByClassName('menu-button');
    const buttonsArray = Array.from(enabled_buttons);
    buttonsArray.forEach(element => {
        element.removeEventListener("click", preventDefaultAction);
    });  
}

function preventDefaultAction(event) {
    event.preventDefault();
}


function selectTickets() {

    const ticket_card = Array.from(document.getElementsByClassName("ticket-card"))
    const ticket_checkboxes = Array.from(document.getElementsByClassName("select-ticket"))
    const button = document.getElementById('select')

    const queue_button =  document.getElementById('queue')
    const select_button =  document.getElementById('select')
    const assign_button =  document.getElementById('assign')
    const advanced_button =  document.getElementById('advanced')

    if (allowSelect === false){
        ticket_card.forEach(element => {
            ticketKey = element.getAttribute('data-key');
            

            element.setAttribute('onclick', `selectTicket('${ticketKey}')`)
            element.classList = "ticket-card"
        });
        allowSelect = true

        queue_button.classList = 'menu-button'
        assign_button.classList = 'menu-button'
        advanced_button.classList = 'menu-button-disabled'

    }
    else {
        ticket_card.forEach(element => {
            ticketKey = element.getAttribute('data-key')
            element.setAttribute('onclick', `openTicket('${ticketKey}')`)
            element.classList.remove('selected')
        });
        document.getElementById('selected-tickets').reset();
        allowSelect = false

        document.getElementById('queue').classList = 'menu-button-disabled'
        document.getElementById('assign').classList = 'menu-button-disabled'
        document.getElementById('advanced').classList = 'menu-button'

    }
enable()
disable()
}

</script>

<style>

input.form-control.new-deck {
        margin: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0; /* Optional: Set border radius if needed */
        background-color: transparent; /* Set background color to transparent */
    }

    /* Style for the input fields when focused */
input.form-control.new-deck:focus {
        outline: none; /* Remove outline */
        border-color: #007bff; /* Optionally change border color when focused */
    }

.page-bg{
background: rgb(144,124,158);
background: linear-gradient(90deg, rgba(144,124,158,1) 0%, rgba(91,105,170,1) 100%);
padding-bottom: 20px;
}
#mainContent {
        transition: opacity 0.3s ease; /* Add transition effect for opacity */
    }

#contextual-menu {
    padding-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}

.menu-button {
    color: white;
    font-size: 20px;
    height: 70px;
    width: 70px;
    border-width: 0;
    border-radius: 50%;
    transition: transform 0.3s ease;
    background-color: #ffc107;
}

.menu-button-disabled {
    color: white;
    background-color: rgba(255, 255, 255, 0.25) !important;
    font-size: 20px;
    height: 70px;
    width: 70px;
    border-width: 0;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.menu-button-pressed {
    color: black;
    border: 3px;
    font-size: 20px;
    height: 70px;
    width: 70px;
    border-width: 0;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.menu-button:active {
    transform: scale(0.9);
}


.decks {
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.buttonGrouping{
  display: inline-block;
  text-align: center;
}

.buttonDescription{
  display: block;
  font-weight: 300;
}


.form-check-input {
    width: 40px;
    height: 40px;
    border:0;
    transition: 0.3s ease
}

.form-check-input:checked {
    border: 5px;
    box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
}


/* Hide the radio button */
.icon-checkbox {
    display: none;
}

/* Style the label to resemble a checkbox */
.icon-label {
    display: inline-block;
    padding-top: 15px;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px; /* Center the icon vertically */
    cursor: pointer;
    box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.25);
}

/* Style the icon inside the label */
.icon-picker {
    font-size: 30px;
    color: gray; /* Default icon color */
}

/* When the checkbox is checked, change the icon color to blue */
.icon-checkbox:checked + .icon-label i {
    color: black;
}

</style>


{% endblock %}

