{% extends 'layout.html' %}
{% block content %}
<br>
    <div class="container-fluid d-inline-block">
        <h5 class="d-inline-block mb-0">Dashboard</h5>
        <h6 class="d-inline-block mb-0 float-end">{{ username }}</h6>
    </div>
<br>
<br>
<div>
    {% for deck in decks %}
            {% from "/Components/macros.html" import sidescroller %}
            {{ sidescroller(deck['name'], deck['jql'], deck['tickets'], deck['color'], deck['icon']) }}
    {% endfor %}

</div>
<br>
<script>
    function submitForm(issueKey) {
        document.getElementById("form_" + issueKey).submit();
    }
</script>

<style>
    .list-group-item:hover {
  background-color:aliceblue;
}

</style>
{% endblock %}

