{% macro comment_component(comments) %}

<h2>Comments</h2>
<br>
<div>
    <form method="POST" action="/comment">
        <div class="mb-3 position-relative">
            <textarea  id="add-comment" class="form-control shadow" rows="3" name="comment" placeholder="Type your comment..."></textarea>
            <button class="shadow-sm btn btn-primary btn-sm position-absolute bottom-0 end-0 m-1" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>    
        </div>
    </form>
    <br>
    <div>
        <ul class="list-group list-group-flush" style="border:0;">
            {% for comment in comments %}
            <li class="list-group-item" style="border:0;">
                <div class="card shadow-sm" style="border:0">
                    <div class="card-body bg-light">
                        <h5 class="card-title">{{ comment.author }}</h5>
                        {% if comment.internal %}
                            <span class="shadow-sm position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"><i class="fa fa-eye-slash"></i></span>
                        {% endif %}
                        <p class="text">
                            {% for line in comment.body.splitlines() %}
                                {{line | safe }}<br>
                            {% endfor %}
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                {% for attachment in comment.attachments %}

                                <img class="img-fluid"src="{{ attachment }}">
                                {% endfor %}
                            </div>
                            <small class="text-muted position-absolute end-0 bottom-0 m-3">{{ comment.date }}</small>
                        </div>
                    </div>
                </div>
            </li>
            <br>
            {% endfor %}   
        </ul>
        <br>
        <br>
    </div>
</div>
{% endmacro %}


{% macro summary(fields) %}
<div class="position-relative">
    <h2 class="mb-0">{{ fields.Summary }}</h2>
    <button class="btn btn-light rounded-circle" id="copyButton" onclick="copyText()">
        <i class="fas fa-copy" style="color: grey;"></i>
    </button>
</div>
<script>

    // This is for the copy button at the top of the page
        
        document.getElementById('copyButton').addEventListener('click', function() {
            // Static text to copy
            const key = document.getElementById('key').innerHTML;
    
            // Create a temporary textarea element to hold the text
            var textarea = document.createElement('textarea');
            textarea.value = key;
            document.body.appendChild(textarea);
    
            // Select the text in the textarea
            textarea.select();
            textarea.setSelectionRange(0, 99999); // For mobile devices
    
            // Copy the selected text to the clipboard
            document.execCommand('copy');
    
            // Remove the temporary textarea
            document.body.removeChild(textarea);
    
             // Change the button icon to a checkmark
             var buttonIcon = document.getElementById('copyButton').querySelector('i');
            buttonIcon.classList.remove('fa-copy');
            buttonIcon.classList.add('fa-check');
    
            // Disable the button to prevent multiple clicks
            document.getElementById('copyButton').disabled = true;
        });
    </script>
{% endmacro %}


{% macro participant_list(participants) %}
<p>Participant Macro, Under dev</p>
<br>
    {% for participant in participants %}
    
    <div class="card w-50" style="margin-right: 20px;">
    <div class="d-flex align-items-center" style="padding:10px">
        <img class="rounded-circle"  src='{{ participant.avatarUrls['24x24'] }}'>
        <h6 style="margin-left:10px;">{{ participant.displayName }} </h6>
    </div>
    </div>
    {% endfor %}

<br>
<br>
<br>
<p>END Participant Macro</p>
{% endmacro %}

{% macro sidescroller(name, jql, tickets, color, icon) %}
<span style="display: inline-block; margin-left: 10px;">
    <i class="fa-solid {{icon}} icon-bg {{ color }}"></i>
    <h2 class="deck-title" style="display: inline-block; vertical-align: middle; margin-left: 10px;">{{ name }}</h2>
</span>

<section class="ticket-section">
    {% if tickets %}
      <div class="ticket-container">
        {% for ticket in tickets %}
          <div class="ticket-card {{ color }} shadow" onclick="location.href='/search/{{ ticket.key }}';">
            {% if ticket.fields.customfield_108529.value == 'Adiyogi' %}
                <i class="adiyogi bottom-right-badge"></i>
            {% elif ticket.fields.customfield_108529.value == 'Linga Bhairavi' %}
                <i class="devi bottom-right-badge"></i>
            {% elif ticket.fields.customfield_108529.value == 'Conscious Planet' %}
                <i class="fa-solid fa-earth-africa bottom-right-badge" style="font-size: 25px;"></i>
            {% else %}
                <span class="badge bottom-right-badge bg-success">{{ ticket.fields.customfield_108529.value }}</span>
            {% endif %}
            <span class="badge bottom-badge bg-light text-dark ">{{ ticket.key }}</span>
            <div class="ticket-summary">
                <h6>
                    {{ ticket.fields.summary }}
                </h6>
            </div>
            
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </section>
  

<style>
/* colors are taken from bootstrap v 5.3 */
.icon-bg {
    color: white;
    height: 30px;
    width: 30px;
    padding: 20px;
    border-radius: 50%;
    background-color: black;
    font-size: 20px;
    vertical-align: middle;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.icon-bg.green {
    background-color: #0a3622;
}

.icon-bg.red {
    background-color: #58151c;
}

/* for social media page icons */
.devi {
    background: url('/static/assets/icons/Devi.svg');
    height: 25px;
    width: 25px;
    display: block;
    /* Other styles here */
}
.adiyogi {
    background: url('/static/assets/icons/Adiyogi.svg');
    height: 25px;
    width: 25px;
    display: block;
    /* Other styles here */
}





.ticket-section {
  width: 100%;
  height: 270px;
  overflow-x: auto;
  scrollbar-width: none;

}

.ticket-section::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers (e.g. Chrome, Safari) */
}

.ticket-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.ticket-card {
  flex: 0 0 auto;
  width: 200px;
  height: 220px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 0 solid #cccccc;
  border-radius: 5px;
  position: relative; /* Ensure badge is positioned relative to the card */
  cursor: pointer;
  transition: 0.5s;
  
}

.ticket-card.green {
  flex: 0 0 auto;
  width: 200px;
  height: 220px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  position: relative; /* Ensure badge is positioned relative to the card */
  cursor: pointer;
  transition: 0.5s;
  
  
}

.ticket-card.red {
  flex: 0 0 auto;
  width: 200px;
  height: 220px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  position: relative; /* Ensure badge is positioned relative to the card */
  cursor: pointer;
  transition: 0.5s;
  
  
}

.ticket-card.green:hover {
  background-color:#d1e7dd;
  margin: 5px;
  transition: 0.5s;
  
}

.ticket-card.red:hover {
  background-color:#e7d1d1;
  margin: 5px;
  transition: 0.5s;
  
}

.ticket-card:last-child {
  margin-right: 0;
}

.bottom-right-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bottom-badge {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.ticket-summary {
  padding: 10px;
  white-space: normal;
}


</style>

{% endmacro %}



